
<body>
<h1>Welcome</h1> "<%= User.find_by_id(session[:user_id]).name %>"
  <br/><br/>

    <H3>Menu</H3>
    <%= link_to "Patients List", :action => :index, :controller => :users  %><br/>

 </div>  </body>